@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Sail&display=swap');

* {
    margin-top: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #ffffff;
}

#background-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    background-image: url('../images/bg.jpg');
    padding: 100px 100px;
}

/*Logo and headings*/
h1,
h2 {
    font-family: Sail, sans-serif;
    color: #b32a2a;
    text-transform: capitalize;
}

#logo {
    text-align: center;
    text-decoration: underline;
    padding: 100px;
    font-size: 250%;

    animation: logo-zoom 2s forwards;

}

@keyframes logo-zoom {
    from {
        transform: scale(1)
    }

    to {
        transform: scale(2);
    }
}

/* Navigation links */

#menu {
    font-size: 140%;
    color: #b32a2a;
    letter-spacing: 3px;
}

#menu li {
    float: right;
    position: center;
    top: 50%;
    left: 50%;
    list-style-type: none;
}

/* you are not done styling here*/
#menu a {
    text-decoration: none;
    color: grey;
    text-transform: uppercase;
}

footer {
    height: 100px;
}

.socials {
    text-align: center;
}

.socials>li {
    display: inline;
}

.socials i {
    font-size: 150%;
    margin: 1%;
    padding: 5%;
    color: #b32a2a;
}